{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
    <div class="section">


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Points</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for i in points | sort(reverse=true, attribute='points') %}
                            <tr>

                                <td>{{ i.username }}</td>
                                <td>{{ i.points | usd}}</td>

                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
{% endblock %}
